# compiled python code
*.pyc

# temporary files
temp/*.csv

# user-specific configuration file
conf.py

# hidden development files
private/

# agency specific configuration files
conf-*.py

# agency specific output
output/*
!output/agency/
